@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Crop Recommender</h1>
    <p class="lead">Crop Recommender is a free tool for farmer to get crop recommendations based on soil type, nutrient, weather, season, etc.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Download the Android App (Crop Recommender) from the Google Play Store.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Play Store &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Register as farmer and create a profile.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Recommendations</h2>
        <p>Enter your agricultural land details and start receiving recommendations.</p>
    </div>
</div>